services:
  gateway:
    grpc:
      port: 50051
    http:
      port: 8080
  user-service:
    grpc:
      port: 50052
    http:
      port: 8081

mysql:
  host: 47.95.221.177
  port: 3306
  username: root
  password: root123456
  db_name: zjmall
  charset: utf8mb4
  parseTime: true
  max_idle_conns: 10
  max_open_conns: 100
  conn_max_lifetime: 30m
  conn_max_idle_time: 10m

redis:
  host: 47.95.221.177
  port: 6379
  password: "redis123"
  db: 0
  poolSize: 10 
  minIdleConns: 5            # 最小空闲连接数
  dialTimeout: 5              # 连接超时（秒）
  readTimeout: 3             # 读取超时（秒）
  writeTimeout: 3            # 写入超时（秒）

sms:
  code_length: 6
  expire_time: 300
  send_interval: 60
  max_send_count: 20

jwt:
  secret: "your-secret-key-change-in-production"
  expires_in: 168h  # 7 天 (7 * 24 小时)
  remember_me_expires_in: 720h  # 30 天 (30 * 24 小时)

oss:
  endpoint: "oss-cn-beijing.aliyuncs.com"
  access_key_id: "LTAI5t5eoRxM5CxHYEgYBE2q"
  access_key_secret: "3EOOuFvK38wA92XEhxXsayBQtuXHTF"
  bucket_name: "zjmall88"
  base_url: "https://zjmall88.oss-cn-beijing.aliyuncs.com"
  avatar_path: "avatar"

ignore_paths:
  - /api/v1/users/register
  - /api/v1/users/login
  - /api/v1/users/login-by-sms
  - /healthz
  - /swagger/